<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @register.date %>
</p>

<p>
  <strong>Client ip:</strong>
  <%= @register.client_ip %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
